
<h2>Works</h2>

<div class="container">
    <div style="border: 2px;">

        <form>
            <table>
                <tr>
                    <!--*******************Search field-->
                    <td align="left">
                        <div class="col-md-4">
                            
                        </div>
                    </td>

                    <td>
                        <div mat-dialog-actions>
                            <button mat-raised-button color="primary" (click)="searchAppointment()">Search</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<div class="container">
    <div>
        <table class="table table-hover table-dark">
            <thead class="thead-light"> 
                <tr>
                    <td>Date </td>
                    <td>Time</td>
                    <td>Style</td>
                    <td>Size</td>
                    <td>Length</td>
                    <td>Service</td>
                    <td>Take Off</td>
                    <td>State</td>
                    <td align="center">Action</td>
                </tr>
            </thead>
            <!--
            <tbody>
    
                <tr *ngFor="let appoint of listAppoints">
                    <td>{{ appoint.dateAppoint | date: "mm-dd-yyyy"}}</td>
                    <td>{{ appoint.dateAppoint | date: "HH:mm:ss"}}</td>
                    <td>{{ appoint.desigStyle }}</td>
                    <td>{{ appoint.titleSize }}</td>
                    <td>{{ appoint.titleExtrat }}</td>
                    <td>{{ appoint.typeservice }}</td>
                    <td>{{ appoint.addTakeOffAppoint }}</td>
                    <td>{{ appoint.stateAppoint }}</td>
                    <td align="center">
                        
                        <button mat-raised-button color="warm" (click)="editAppointmentDialog(appoint)">Confirm Appointment</button>
                    </td>
                </tr>
            </tbody>
            -->
        </table>
    </div>
</div>