
<!--end breadcrumb-->
<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="card">
			<div class="card-header py-3 bg-transparent">
				<h5 class="mb-0">Delete Length</h5>
			</div>
			<div class="card-body">
				<div class="border p-3 rounded">
					<form >
						<div class="form-group">
                            <tr>
                                <th>Length title:   </th>
                                <td>{{lengthFound.titleLength}}</td>
                            </tr>
							
						</div>
					</form>
				</div>
                <div class="col-12">
                    <button class="btn btn-danger px-5 px-4" (click)="deleteLength()"> Delete</button>
                </div>
			</div>
            <div class="card-footer">
                
				<div class="col-12" [align]="'end'">
				  <a [routerLink]="['/view/settings/length']" class="btn btn-dark px-5 rounded-0">Back to list</a>
				</div>
			</div>
        </div>
	</div>
</div>
