<p>login works!</p>

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Log in</h4>
        <div class="card-body">
            <form [formGroup]="loginForm">
                <div>
                    <mat-form-field class="fieldReference" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" formControlName = "username" matInput name="username" >
                    </mat-form-field>
                    <mat-error *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="alert">
                        Please enter username
                    </mat-error>
                </div>

                <div>
                    <mat-form-field class="fieldReference" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName = "password" matInput name="Password" >
                    </mat-form-field>
                    <mat-error *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert">
                        Please enter username
                    </mat-error>
                </div>
                <!--
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm?.controls?.['username']?.errors }" />
                    
                    <div *ngIf="submitted && loginForm?.controls?.['username']?.errors">
                        <div *ngIf="loginForm?.controls?.['username']?.errors?.['required']">Required</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" 
                            formControlName="password" 
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && loginForm?.controls?.['password']?.errors }" />
                    <div *ngIf="submitted && loginForm?.controls?.['password']?.errors">
                        <div *ngIf="loginForm?.controls?.['password']?.errors?.['required']">Required</div>
                    </div>
                </div>
                -->
                <div>
                    <div class="col md-6" mat-dialog-action [align]="'left'">
                        <button style="margin-left: 5px;" mat-raised-button color="primary" name="btSave" [disabled]="loginForm.invalid" (click)="onLogin()">Save</button>
                    </div>
                </div>
                <!--<div *ngIf="error" class="alert alert-danger mt-3 mb-3">{{error}}</div>-->
            </form>
        </div>
    </div>
</div>