
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.solid {
    border-top: 3px solid rgb(7, 7, 7);
}


table {
    width: 100%;
    border: black;
}

thead{
    color: rgb(253, 253, 253);
    font-size: medium;
    
}

th {
    text-align: center;
}

.clientnamedisplay{
    font-size: x-large;
    font-variant-alternates: normal;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
} 